:root{
    --sbm-0: linear-gradient(#296b7a, #1e535e);
    --sbm-bg-0: #1b1b1b;
    --sbm-bg-1: #1a1a1d;
    --sbm-bg-2: #2d2d2d;
    --sbm-bg-3: #393939;
    --sbm-txt-1: #dcdfe2;
    --sbm-txt-2: #c4c8cc;
    --sbm-border-1: #2e2e2e;
    --sbm-border-2: #252525;
}